bootrom/*
docs/warnings.txt
/Makefrag.pkgs
target
*.jar
*.stamp
*.vcd
*.swp
*.swo
*.log
*.jou
*#
*~
.idea
.DS_Store
env.sh
tags
*~
.bsp/
.sbtopts
.metals/*
test_run_dir
ucli.key
vsrc
.conda-env/
.#*
first-clone-setup-fast-log
